section.about {
    article {
        & > *:not(h2) {
            padding: 0 0 0 2rem;

            a {
                margin: 0 0 0 0.25rem;
                color: blue;
            }
        }
    }
}
