nav {
    width: 60%;

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;

        li {
            width: 100%;
            height: 40px;
            border-bottom: solid 2px #2d2d2d;

            a {
                position: relative;
                top: -1px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-decoration: none;
                color: #2d2d2d;
                font-size: 1.75rem;
                border-bottom: solid 5px rgba($color: #ff0000, $alpha: 0);
                transition: 0.75s all;

                &.active {
                    color: red;
                    border-bottom: solid 5px rgba($color: #ff0000, $alpha: 1.0);
                }
            }
        }
    }
}